version: "2.0"

volumes:
  pgdata:
  esdata:

services:
  #
  # docker exec -it pg psql -u postgres
  #
  postgres:
    container_name: pg
    image: postgres:10
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pa55w0rd
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./pginit:/docker-entrypoint-initdb.d/
    ports:
      - 5432:5432
    networks:
      default:
        aliases:
          - pghost
          - postgres
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "3"

  # https://www.elastic.co/guide/en/elasticsearch/reference/5.6/docker.html
  # https://github.com/k-int/KBPlusG3/blob/dev-integration/SETUP-ES-DOCKER.txt
  # see https://www.elastic.co/guide/en/elasticsearch/reference/5.6/docker.html
  es5:
    container_name: es5
    image: docker.elastic.co/elasticsearch/elasticsearch:5.6.10
    restart: always
    environment:
      - xpack.security.enabled=false
      - xpack.monitoring.enabled=false
      - xpack.ml.enabled=false
      - xpack.graph.enabled=false
      - xpack.watcher.enabled=false
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - discovery.zen.minimum_master_nodes=1
      - discovery.type=single-node 
      - cluster.name=elasticsearch
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    ports:
      - 9200:9200 
      - 9300:9300
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      default:
        aliases:
          - eshost
          - elasticsearch
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "3"

  # Converted from 
  # docker run -d --restart always --hostname rabbitmq -p 15672:15672 -p 5672:5672 --name rabbitmq -e RABBITMQ_DEFAULT_USER=adm -e RABBITMQ_DEFAULT_PASS=admpass rabbitmq:management
  # See also
  # http://mpas.github.io/post/2015/06/11/20150611_docker-rabbitmq-default-users/
  rabbitmq:
    container_name: rabbitmq
    build: rabbitmq
    hostname: rabbitmq
    # image: rabbitmq:management
    restart: always
    ports:
      - 15672:15672 
      - 5672:5672
    environment:
      - RABBITMQ_DEFAULT_USER=adm
      - RABBITMQ_DEFAULT_PASS=admpass 
      - RABBITMQ_NODENAME=cap@rabbitmq
    networks:
      default:
        aliases:
          - rabbitmq
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "3"

  setup:
    build: setup
    depends_on:
      - rabbitmq
      - es5
      - postgres
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "3"

  tomcat:
    image: semweb/caphub_tomcat:latest
    depends_on: 
      - setup
    restart: always
    ports:
      - 8080:8080
    volumes:
      - /staticfeeds:/staticfeeds
    environment:
      - AWS_ACCESS_KEY_ID=unset
      - AWS_SECRET_ACCESS_KEY=unset
      - AWS_REGION=unset
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "3"
